<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div [ngSwitch]="bannedType" class="page-404">
      <div class="ico-lenny">¯\_(ツ)_/¯</div>
      <div *ngSwitchCase="'user'" class="title">{{ 'page-403.title.author'|translate }}</div>
      <div *ngSwitchCase="'tag'" class="title">{{ 'page-403.title.tag'|translate }}</div>
      <div *ngSwitchCase="'post'" class="title">{{ 'page-403.title.content'|translate }}</div>
      <div class="info">
        {{ 'page-404.info'|translate }}
        <a routerLink="pages/faq">{{ 'FAQ' }}</a>.
      </div>
      <div class="info-links">
        <div class="or">
          <span>{{ 'page-404.or'|translate }}</span>
        </div>
        <a routerLink="/">
          {{ 'page-404.info_title.homepage'|translate }}
        </a>
        <a routerLink="/created">
          {{ 'page-404.info_title.created'|translate }}
        </a>
        <a routerLink="/hot">
          {{ 'page-404.info_title.hot'|translate }}
        </a>
        <a routerLink="/stream">
          {{ 'page-404.info_title.stream'|translate }}
        </a>
      </div>
    </div>
  </div>
</div>
