<div class="row">
  <div class="col-lg-9 col-md-9">
    <div class="page">
      <h1 class="page-title">
        {{ 'page.faq.name' | translate }}
      </h1>
      <div class="page-content faq">
        <h2>{{ 'Podstawy' }}</h2>

        <strong>{{ 'Co oznacza słowo "Strimi"?' }}</strong>
        <p>{{ 'Strimi to spolszczenie angielskiego słowa "stream" (strumień). Strimi to tematyczna rzeka różnych informacji.' }}</p>

        <strong>{{ 'Czym jest Strimi?' }}</strong>
        <p>{{ 'Strimi to miejsce do publikowania treści w tematycznych tagach, które są kreowane przez naszą Społeczność. Serwis jest oparty o zdecentralizowany blochkchain Steem. Strimi to platforma podobna do popularnego serwisu Reddit. Różnica polega na tym, że wszystkie treści na Strimi przechowywane są w sieci Steem (co raz zostanie dodane do sieci Steem, na zawsze tam pozostaje – nie da się nic usunąć). Blockchain Steem umożliwia stworzenie portalu społecznościowego w zdecentralizowanej sieci peer-to-peer.' }}</p>

        <strong>{{ 'Czym jest blockchain Steem?' }}</strong>
        <p>{{ 'Steem został stworzony w 2016 roku przez Neda Scotta i Dana Larimera (twórcę giełdy Bitshares). Ideą Steem jest stworzenie platformy social media opartej o technologię blockchain. Umożliwia to nagradzanie Użytkowników sieci za aktywność w postaci postów i komentarzy w platformie społecznościowej. Nagroda przesyłana jest za pomocą tokenów o nazwie Steem. Sieć Steem oprócz tokenu Steem posiada również drugą walutę SteemDollars (SBD), której kurs w odróżnieniu od Steem jest ściśle powiązany z kursem USD.' }}</p>

        <strong>{{ 'Czym blockchain Steem różni się od Bitcoina?' }}</strong>
        <p>{{ 'Główna różnica między tymi dwoma kryptowalutami jest taka, że celem Bitcoina jest wydobycie (kopanie) i transfer waluty, zaś Steem wydobywa się za pomocą metody Proof of Stake. Steem posiada dwa tokeny, Steem oraz SteemDollars i za ich pomocą nagradzani są nasi Użytkownicy.' }}</p>

        <strong>{{ 'Czym jest metoda Proof of Stake (PoS)?' }}</strong>
        <p>{{ 'PoS jest to forma miningu, która opiera się przede wszystkim na wynagradzaniu Użytkowników za sam fakt posiadania przez nich waluty w portfelu.' }}</p>

        <h2>{{ 'Treści i Nagrody' }}</h2>

        <strong>{{ 'Kto dodaje treści?'  }}</strong>
        <p>{{ 'Strimi to serwis społecznościowy, treści tworzone są przez naszych Użytkowników.' }}</p>

        <strong>{{ 'Jak dodać treść?' }}</strong>
        <p>{{ 'Po zalogowaniu na górnej belce serwisu znajduje się przycisk „Dodaj treść” klikamy w niego i następnie mamy dwie możliwości dodania treści, treść własną lub jako link do strony, grafiki lub materiału wideo. Warto tutaj zaznaczyć aby podczas dodawania nowej treści dodać tytuł zgodny ze stanem faktycznym. W opisie treści w kilku zdaniach opisać docelowy link, im ciekawszy opis tym więcej Użytkowników przyciągnie.' }}</p>

        <strong>{{ 'Jak wybierać nagrody podczas dodawać treści?' }}</strong>
        <p>{{ 'Jak już wiemy 75% z nagrody trafia do autora, nagrody otrzymujemy podczas dodawania treści, jednak mamy wybór jaką nagrodę chcemy otrzymać po 7 dniach, mamy do wyboru trzy możliwości:' }}</p>
        <ul>
          <li><strong>{{ '50%/50%' }}</strong>{{ ' - 50% nagrody otrzymamy w SteemPower, zaś drugie 50% w SteemDollars,' }}</li>
          <li><strong>{{ '100% SteemPower ' }}</strong>{{ ' – 100% nagrody trafia do nas w postaci SteemPower,' }}</li>
          <li><strong>{{ 'Rezygnacja' }}</strong>{{ ' – całkowicie zrzekamy się nagrody.' }}</li>
        </ul>
        <p>{{ 'Zalecana obecnie nagroda jest 50%/50% z przyczyn ekonomicznych.' }}</p>

        <strong>{{ 'Czym są liczby obok treści?' }}</strong>
        <p>{{ 'Są to sumy głosów oddanych na daną treść przez naszych Użytkowników.' }}</p>

        <strong>{{ 'Czym są liczby z przedrostkiem $ obok treści?' }}</strong>
        <p>{{ 'Są to sumy tokenów, które otrzyma autor oraz głosujący (tzw. kuratorzy) na daną treść po 7 dniach od daty publikacji treści (treść przez 7 dni „zbiera głosy”). Nagrody zdobywane są poprzez pisanie treści lub komentarzy. Po siedmiu dniach (od daty publikacji) dana treść zostaje "ukryta", aby inne treści mogły wskoczyć na jej miejsce.' }}</p>

        <strong>{{ 'Skąd się biorą nagrody?' }}</strong>
        <p>{{ 'Blockchain Steem (z własnej puli) rozdziela tokeny proporcjonalnie do głosów, jakie zostały oddane przez Użytkowników na wszystkie treści, jednak mając na uwadze siłę/moc głosu Użytkowników (SteemPower). Każda nagroda z danej treści dzieli się na dwie części, 75% z nagrody trafia do autora, zaś pozostałe 25% do głosujących na tą treść.' }}</p>

        <strong>{{ 'Jak głosować?' }}</strong>
        <p>{{ '25% z nagrody danej treść jest rozdane do Wszystkich kuratorów (głosujących). Istnieją tutaj pewne możliwości jak osiągnąć maksymalne korzyści z głosowania na treści. Każda treść po dodaniu ma tzw. 30\'minutowe okienko czasowe, głosowanie wygląda następująco (0 minut = czas publikacji treści):' }}</p>
        <ul>
          <li><strong>{{ '0 min.' }}</strong>{{ ' - 100% Twojej nagrody otrzymuje autor treści,' }}</li>
          <li><strong>{{ '3 min.' }}</strong>{{ ' - 90% Twojej nagrody trafia do autora, 10% do Ciebie,' }}</li>
          <li><strong>{{ '15 min.' }}</strong>{{ ' - 50% Twojej nagrody trafia do autora, 50% do Ciebie,' }}</li>
          <li><strong>{{ '27 min.' }}</strong>{{ ' - 10% Twojej nagrody trafia do autora, 90% do Ciebie,' }}</li>
          <li><strong>{{ '30 min. i więcej' }}</strong>{{ ' - 100% Twojej nagrody trafia do Ciebie.' }}</li>
        </ul>
        <p>{{ 'Statystyki pokazują, że najlepszy czas na głosowanie jest między 25 a 30 minutą od czasu publikacji treści, jednak nie jest to regułą.' }}</p>

        <strong>{{ 'Jak odbierać nagrody?' }}</strong>
        <p>{{ 'Twoje nagrody możesz odbierać w zakładce „portfel” w swoim profilu po 7 dniach od daty publikacji treści. Strimi pobiera piętnaście procent z nagrody wyrażonej w SteemPower.' }}</p>

        <h2>{{ 'Limity' }}</h2>
        <p>{{ 'Blockchain Steem narzuca odgórnie limity w postaci:' }}</p>
        <ul>
          <li><strong>{{ '5 minut' }}</strong>{{ ' - pomiędzy dodawaniem treści,' }}</li>
          <li><strong>{{ '20 sekund' }}</strong>{{ ' - pomiędzy dodawaniem komentarzy,' }}</li>
          <li><strong>{{ '3 sekundy' }}</strong>{{ ' - pomiędzy głosowaniem na treści i komentarze.' }}</li>
        </ul>

        <h2>{{ 'Pozostałe' }}</h2>

        <strong>{{ 'Czym jest SteemPower (SP)?' }}</strong>
        <p>{{ 'SteemPower jest to siła głosu, dla przykładu posiadając 380SP i głosując 100% na daną treść, Twój głos będzie warty około $0.10. SteemPower możemy zdobywać poprzez dodawanie i głosowanie na treści czy komentarze. Aktualna cena rynkowa Steem również mocno wpyłwa na nasz aktualny SP.' }}</p>

        <strong>{{ 'Czym jest VotingPower(VP)?' }}</strong>
        <p>{{ 'Blockchain Steem pozwala nam głosować nieskończoną ilość razy, jednak z każdym 100% głosem Twój VP będzie pomniejszany o około ~ 2%. Jednak VP regeneruje się ~ 20% na dobę. Siła głosu pozwala zdecydować jak dużą część nagrody z puli chcemy przekazać autorowi, jednak jeśli posiadamy miej niż ~ 480SP zalecane jest głosować na 100%, ponieważ siła głosu jest bardzo mała.' }}</p>

        <strong>{{ 'Czym jest Bandwith?' }}</strong>
        <p>{{ 'Wszystko co robisz (dla przykładu głosujesz, dodajesz komentarz czy treść) trafia do blockchainu Steem, bandwith jest niczym innym jak limitem danych jaki możesz przesłać do Steem. Na jego wielkość wpływa Twoje SteemPower, im większe tym większy jest bandwith.' }}</p>

        <strong>{{ 'Czym jest Flaga (zgłoszenie lub ujemny głos)?' }}</strong>
        <p>{{ 'Dodając flagę obniżamy wartość danej nagrody (z treści lub komentarza) o aktualną siłę naszego głosu. Flaga również obniża reputację danego Użytkownika.' }}</p>

        <strong>{{ 'Czym jest Reputacja Użytkownika?' }}</strong>
        <p>{{ 'Każdy Użytkownik posiada reputację (wskaźnik), która jest wyrażona w liczbach obok jego nicku w nawiasach. Zdobywamy ją gdy inny Użytkownik o większej reputacji od naszej zagłosuje na naszą treść. Jest to określenie „wielkości” Użytkownika bazując na jego SteemPower. Reputację również możemy wyrazić poprzez nazewnictwo: narybek, delfin, orka lub wieloryb. Użytkownicy z niższą reputacją od naszej, nie są w stanie nam obniżyć naszej.' }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
