<div [ngSwitch]="postType">
  <app-post-link
    (postToEdit)="postToEdit.emit($event)"
    [showEdit]="showEdit"
    [postResult]="postResult"
    [showDelete]="showDelete"
    (postToDelete)="postToDelete.emit($event)"
    [showDownVote]="showDownVote"
    *ngSwitchCase="'link'">...</app-post-link>
  <app-post-text
    (postToEdit)="postToEdit.emit($event)"
    [showEdit]="showEdit"
    [postResult]="postResult"
    [showDelete]="showDelete"
    (postToDelete)="postToDelete.emit($event)"
    [showDownVote]="showDownVote"
    *ngSwitchCase="'text'">...</app-post-text>
  <app-post-image
    (postToEdit)="postToEdit.emit($event)"
    [showEdit]="showEdit"
    [postResult]="postResult"
    [showDelete]="showDelete"
    (postToDelete)="postToDelete.emit($event)"
    [showDownVote]="showDownVote"
    *ngSwitchCase="'image'">...</app-post-image>
  <app-post-video
    (postToEdit)="postToEdit.emit($event)"
    [showEdit]="showEdit"
    [postResult]="postResult"
    [showDelete]="showDelete"
    (postToDelete)="postToDelete.emit($event)"
    [showDownVote]="showDownVote"
    *ngSwitchCase="'video'">...</app-post-video>
  <app-post-external
    (postToEdit)="postToEdit.emit($event)"
    [showEdit]="showEdit"
    [postResult]="postResult"
    [showDelete]="showDelete"
    (postToDelete)="postToDelete.emit($event)"
    [showDownVote]="showDownVote"
    *ngSwitchDefault></app-post-external>
</div>
