<div class="sidebar">
  <div class="sidebar-title">
    {{ 'post-new.sidebar.title' | translate }}
  </div>
  <div class="sidebar-content-practice">
    <ul>
      <li>
        {{ 'post-new.sidebar.info' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_0' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_1' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_2' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_3' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_4' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_5' | translate }}
      </li>
      <li>
        {{ 'post-new.sidebar.info_6' | translate }}
      </li>
    </ul>
  </div>
</div>
