<app-header-tag></app-header-tag>

<div class="tag-content">
  <div class="row">
    <div class="col-xl-9 col-lg-8 col-md-12">
      <app-sort-header (eventSortParam)="onSort($event)"></app-sort-header>
      <div class="post" *ngIf="data">
        <div class="posts-lists">
          <app-posts-container [posts]=data></app-posts-container>
        </div>
        <div class="row-fluid">
          <app-button-next (clickButton)="nextTags()" *ngIf="showButton" [disabled]="disabledButton" [showSpinner]="showSpinnerButton"></app-button-next>
        </div>
      </div>
      <!-- Info no content to show -->
      <app-no-content-info *ngIf="showNoContent" [message]="'no_content.default'"></app-no-content-info>

      <!-- info about errors -->
      <app-error-info *ngIf="showError" [message]="'no_content.error'"></app-error-info>

      <!-- Spinner after request -->
      <div class="loading-content" *ngIf="showSpinner">
        <app-spinner></app-spinner>
      </div>

    </div>
    <div class="col-xl-3 col-lg-4 d-xl-block d-lg-block d-none">
      <app-user-search></app-user-search>
      <app-popular-tags></app-popular-tags>
      <app-sidebar-exchange></app-sidebar-exchange>
      <app-select-post-lang></app-select-post-lang>
    </div>
  </div>
</div>
