body {
  &.night {
    .container-sorting {
      background-color: darken($NightFirst, 1%);
      border: 1px solid $NightBorder;
      a {
        color: $NightMetaColor;
        font-weight: 500;
        &.active {
          color: $green;
          text-decoration: none;
        }
        &:hover {
          @extend .trans;
          color: $green;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}


