<div>
  Zgłoszenie nieodpowiedniej treści
  Jeśli jesteś przekonany, że jest to:
  Treść łamiąca regulamin serwisu
  Treść reklamowa, spam lub treść wprowadzająca celowo w błąd
  Treść obraźliwa, szerząca nienawiść lub przedstawiająca przemoc
  Naruszenie moich praw lub mojej prywatności
  Treść o charakterze pornograficznym

  <div class="voting-slider">
    <div class="voting-slider-count">
      {{ 'user.vote_slider.name'|translate }} {{ '-' + value + '%' }}
    </div>
    <mat-slider *ngIf="canVote" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval"
                [vertical]="false"
                [value]="startValue" (input)="value= $event.value">
    </mat-slider>
    <div class="voting-slider-buttons">
      <button class="btn small btn-primary" (click)="close()">
        {{ 'user.vote_slider.close'|translate }}
      </button>
      <button class="btn small btn-green" (click)="vote()">
        {{ 'user.vote_slider.vote'|translate }}
      </button>
    </div>
  </div>

  <app-spinner *ngIf="showSpinner"></app-spinner>
  <span *ngIf="showError">Nieoczekiwany bład podczas głosowania</span>
</div>
