<ng-container *ngIf="transferVesting">
  <div class="reward-avatar steem-power"></div>
  <div class="reward-content">
    <div class="reward-content-name">
      {{'user.wallet.transfer-vesting'|translate}}
    </div>
    <div class="reward-content-time">
      <app-date [date]="timestamp"></app-date>
    </div>
    <div class="reward-content-description">
      <div class="reward-content-description-amount">
        {{ transferVesting.amount.replace(' STEEM', ' SP') }}
      </div>
    </div>
  </div>
</ng-container>
