<div class="row justify-content-center">
  <div class="col-xl-10">

    <div class="page">
      <h1 class="page-title text-center">
        {{ 'page.registration.title' | translate }}
      </h1>
      <div class="page-content registration">
        <div class="row">
          <div class="col-xl-12">
            <div class="option-name">
              {{ 'Aktualnie są trzy możliwości' }}
            </div>
            <div class="option-warning">
              {{ '*Strimi nie odpowiada i nie ma nic wspólnego z rejestracją na zewnętrznych serwisach. Robisz to na własną odpowiedzialność.' }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4">
            <div class="option friend">
              <div class="option-title">
                {{ 'Znajomy' }}
              </div>
              <div class="option-image">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </div>
              <div class="option-description">
                {{ 'Poproś znajomego, który już posiada konto w Blockchain Steem o stworzenie konta dla Ciebie. Jest to obecnie najlepsza i najszybsza metoda.' }}
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <a class="option" href="https://signup.steemit.com/?ref=strimi" title="{{ 'Przejdź do Steemit.com' }}" target="_blank" rel="nofollow">
              <div class="option-title">
                {{ 'Steemit.com' }}
              </div>
              <div class="option-image">
                <img src="assets/images/logo_steemit.png" alt="steemit.com">
              </div>
              <div class="option-description">
                {{ 'Zewnętrzny Serwis umożliwiający rejestrację w Blockchain Steem. Wymaga podania numeru telefonu oraz adresu email do weryfikacji.'}}
              </div>
            </a>
          </div>
          <div class="col-xl-4">
              <a class="option" href="https://anon.steem.network/" title="{{ 'Przejdź do AnonSteem.network' }}" target="_blank" rel="nofollow">
              <div class="option-title">
                {{ 'AnonSteem.network' }}
              </div>
              <div class="option-image">
                <i class="fa fa-low-vision" aria-hidden="true"></i>
              </div>
              <div class="option-description">
                {{ 'Zewnętrzny Serwis umożliwiający rejestrację anonimową w Blockchain Steem lecz za opłatą. Dostępne transfery: Steem, Bitcoin lub Litcoin.' }}
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="option-steem">
              <div class="option-steem-name">
                {{ 'Blockchain Steem' }}
              </div>
              <div class="option-steem-description">
                {{ 'Każde konto, które zostanie raz utworzone w Blockchain Steem, będzie miało możliwość zalogowania się w każdym dostępnym interfejsie Blockchainu Steem, niezależnie od tego w jaki sposób zostało zarejesrtowane, czy przez znajomego, Steemit.com czy AnonNetwork lub każdej innej dostępnej metody, która umożliwia rejestrację w sieci Steem.' }}
              </div>
              <div class="option-steem-help">
                {{ 'Jeśli masz pytania skontaktuj się z nami via Social Media lub przez email podany w zakładce kontakt.' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
