<div class="row justify-content-center">
  <div class="col-xl-10">
    <div class="page">
      <h1 class="page-title text-center">
        {{ 'page.registration.title' | translate }}
      </h1>
      <div class="page-content registration">
        <div class="row">
          <div class="col-xl-12">
            <div class="option-name">
              {{ 'page.registration.header.name' | translate }}
            </div>
            <div class="option-warning">
              {{ 'page.registration.header.text' | translate }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4">
            <div class="option friend">
              <div class="option-title">
                {{ 'page.registration.friend.name' | translate }}
              </div>
              <div class="option-image">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </div>
              <div class="option-description">
                {{ 'page.registration.friend.text' | translate }}
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <a class="option" href="https://signup.steemit.com/?ref=strimi" title="{{ 'page.registration.steemit.go' | translate }}" target="_blank" rel="nofollow">
              <div class="option-title">
                {{ 'page.registration.steemit.name' | translate }}
              </div>
              <div class="option-image">
                <img src="assets/images/logo_steemit.png" alt="steemit.com">
              </div>
              <div class="option-description">
                {{ 'page.registration.steemit.text' | translate }}
              </div>
            </a>
          </div>
          <div class="col-xl-4">
              <a class="option" href="https://anon.steem.network/" title="{{ 'page.registration.anon.go' | translate }}" target="_blank" rel="nofollow">
              <div class="option-title">
                {{ 'page.registration.anon.name' | translate }}
              </div>
              <div class="option-image">
                <i class="fa fa-low-vision" aria-hidden="true"></i>
              </div>
              <div class="option-description">
                {{ 'page.registration.anon.text' | translate }}
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="option-steem">
              <div class="option-steem-name">
                {{ 'page.registration.blockchain.name' | translate }}
              </div>
              <div class="option-steem-description">
                {{ 'page.registration.blockchain.info_first' | translate }}
              </div>
              <div class="option-steem-help">
                {{ 'page.registration.blockchain.info_second' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
