
<div class="stream-single" *ngFor="let post of posts">
  <app-avatar-post [author]="post.author" [classStyle]="'stream-single-avatar'"></app-avatar-post>
  <div class="stream-single-content">
    <div class="stream-single-content-author">
      <app-author-post [author]="post.author" [reputation]="post.author_reputation" [classAuthor]="'stream-single-content-author-username'"
        [classRep]="'stream-single-content-author-reputation'"></app-author-post>
      <app-cash-post [post]="post" [classCash]="'stream-single-content-meta-cash'"></app-cash-post>
      <app-date [routerLink]="['detail', '@' + post.author, post.permlink]" [date]=post.created [classDate]="'stream-single-content-author-time'"></app-date>
      <app-report-post
        [classReport]="'stream-single-content-author-flag'"
        [classRemove]="'stream-single-content-author-remove'"
        [classEdit]="'stream-single-content-author-edit'"
        [showEdit]="showEdit(post)"
        (edit)="onEditPost.next(post)"
        [showDelete]="showDelete(post)"
        (delete)="onDeletePost.next(post)"></app-report-post>
    </div>

    <app-stream-description [textLength]="300" [body]="post.body"></app-stream-description>

    <div class="stream-single-content-meta">
      <app-vote-post-thumb [post]="post"></app-vote-post-thumb>

      <span class="stream-single-content-meta-comments">
        <app-comments-post [routerLink]="['detail', '@' + post.author, post.permlink]" fragment="comments" [children]="post.children"></app-comments-post>
      </span>
    </div>
  </div>
</div>
