@media (max-width: 575px) {
  .page {
    &-content {
      &.registration {
        .option {
          margin-bottom: 25px;
          &-steem {
            &-name {
              margin-top: 0;
            }
            &-help {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .page-404 {
    margin-top: 15px;
    .ico-lenny {
      font-size: 4.2rem;
    }
    .title {
      margin-top: 15px;
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    .info {
      margin-top: 15px;
      line-height: 2.2rem;
      width: 80%;
    }
    .info-links {
      width: 260px;
      a {
        margin-bottom: 25px;
        padding-right: 0;
        margin-right: 0;
        width: 100%;
        &:after {
          display: none;
        }
      }
      .or {}
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .page {
    &-content {
      &.registration {
        .option {
          margin-bottom: 25px;
          &-steem {
            &-name {
              margin-top: 0;
            }
            &-help {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .page {
    &-content {
      &.registration {
        .option {
          margin-bottom: 25px;
          &-steem {
            &-name {
              margin-top: 15px;
            }
            &-help {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
