<div class="row">
  <div class="col-lg-9">
    <div class="page">
      <h1 class="page-title">
        {{ 'page.regulations.name' | translate }}
      </h1>
      <div class="page-content regulations">
        <ul>
          <li>
            <strong>POSTANOWIENIA WSTĘPNE</strong>
            <ul>
              <li>
                W rozumieniu niniejszego regulaminu poniższe pojęcia pisane wielką literą mają następujące znaczenie:
                <ul>
                  <li>
                    <strong>Serwis</strong> - oznacza serwis internetowy udostępniony pod adresem internetowym www.strimi.pl lub
                    www.strimi.it
                  </li>
                  <li>
                    <strong>Regulamin</strong> - oznacza niniejszy dokument określający zasady i warunki korzystania z Serwisu.
                  </li>
                  <li>
                    <strong>Administrator</strong> - oznacza osobę fizyczną będącą właścicielem oraz administratorem Serwisu.
                  </li>
                  <li>
                    <strong>Użytkownik</strong> - oznacza osobę korzystającą z funkcjonalności Serwisu.
                  </li>
                  <li>
                    <strong>Konto</strong> - oznacza konto Steem utworzone za pośrednictwem strony internetowej signup.steemit.com
                    umożliwiające Użytkownikom korzystanie z określonych funkcjonalności Serwisu niedostępnych dla Użytkowników
                    nieposiadających konta Steem.
                  </li>
                  <li>
                    <strong>Treści</strong> - oznacza jakiekolwiek treści, bez względu na ich rodzaj i formę, dostarczane i udostępniane
                    przez Użytkowników w Serwisie. W szczególności do kategorii Treści zaliczają się linki, teksty, fragmenty
                    kodu, grafiki, wideo, audio oraz inne multimedia.
                  </li>
                  <li>
                    <strong>Blockchain Steem</strong> - oznacza zdecentralizowaną sieć współpracy typu peer-to-peer, która działa
                    w oparciu o protokół kryptograficzny.
                  </li>
                  <li>
                    <strong>Tokeny</strong> - oznacza nagrody z sieci Blockchain Steem w formie informacji zapisanych w postaci cyfrowej
                    (SteemDollars, SteemPower, Steem) przyznawane w ramach uczestnictwa w sieci Blockchain Steem.
                  </li>
                </ul>
              </li>
              <li>
                Serwis nie jest inicjatywą komercyjną, ani w jakikolwiek sposób zorganizowaną dla celów realizacji interesów Administratora
                innych niż cele użytku osobistego. Powyższe oznacza, że korzystanie z serwisu jest całkowicie bezpłatne,
                a działalność Administratora nie jest działalnością podejmowaną w związku z jakąkolwiek działalnością zarobkową,
                zawodową lub dla realizacji celów statutowych.
              </li>
              <li>
                Celem prowadzenia Serwisu jest wyłącznie udostępnienie Użytkownikom platformy cyfrowej umożliwiającej Użytkownikom przeglądanie,
                ocenianie i umieszczanie Treści w Serwisie.
              </li>
              <li>
                Administrator nie jest odpowiedzialny za działania podejmowane przez Użytkowników w trakcie korzystania z Serwisu. Działania
                Użytkowników w Serwisie nie są zlecane przez Administratora, ani nie są wykonywane pod jego kontrolą.
              </li>
              <li>
                Wyłączną rolą Administratora jest udostępnienie funkcjonalności Serwisu. W ramach czynności wykonywanych przez Administratora
                nie jest udzielana jakakolwiek gwarancja w zakresie dostępu do Serwisu, ani w zakresie działania Serwisu.
              </li>
              <li>
                Użytkownik z chwilą rozpoczęcia korzystania z Serwisu akceptuje fakt, że Serwis podlega stałym aktualizacjom i rozwojowi,
                w związku z tym może być niekompletny, niekompatybilny z urządzeniem końcowym Użytkownika lub też może być
                czasowo niedostępny.
              </li>
              <li>
                Rozpoczęcie korzystania z Serwisu przez Użytkownika oznacza akceptację Regulaminu.
              </li>
              <li>
                Dla rozstrzygania wszelkich kwestii dotyczących korzystania z Serwisu zastosowanie ma prawo obowiązujące na terytorium Rzeczypospolitej
                Polskiej.
              </li>
            </ul>
          </li>
          <li>
            <strong>ZASADY KORZYSTANIA Z SERWISU</strong>
            <ul>
              <li>
                Użytkownik może korzystać z Serwisu za pośrednictwem Konta, bądź bez zakładania Konta. Korzystanie z Serwisu bez założonego
                Konta wiąże się z brakiem dostępu dla Użytkownika do pełnej funkcjonalności Serwisu.
              </li>
              <li>
                Użytkownik samodzielnie ponosi pełną odpowiedzialność za sprzęt, system i oprogramowanie oraz związane z nimi opłaty, konieczne
                w celu umożliwienia połączenia się i korzystania z Serwisu.
              </li>
              <li>
                Użytkownik ma obowiązek:
                <ul>
                  <li>
                    zapoznawania się ze wszystkimi zmianami Regulaminu,
                  </li>
                  <li>
                    korzystania z Serwisu w sposób zgodny z przepisami powszechnie obowiązującego prawa na terytorium Rzeczypospolitej Polskiej,
                    postanowieniami Regulaminu, a także z przyjętymi zwyczajami i zasadami współżycia społecznego, w tym
                    powszechnie obowiązującymi zasadami korzystania z sieci internetowej (tzw. Netykiety),
                  </li>
                  <li>
                    korzystania z Serwisu w sposób zgodny z jego przeznaczeniem oraz do niepodejmowania czynności mających na celu reklamę i
                    promocję podejmowaną we własnym lub cudzym imieniu, destabilizację pracy, poufności lub integralności
                    Serwisu, innych systemów komputerowych należących do Administratora lub osób trzecich, naruszenia integralności
                    lub poufności danych zgromadzonych w takich systemach informatycznych,
                  </li>
                  <li>
                    niedostarczania i nieprzekazywania w ramach korzystania z Serwisu jakichkolwiek Treści zabronionych przez przepisy powszechnie
                    obowiązującego prawa na terytorium Rzeczypospolitej Polskiej lub naruszających prawa osób trzecich,
                  </li>
                  <li>
                    niepodejmowania czynności informatycznych lub wszelkich innych czynności mających na celu wejście w posiadanie informacji
                    nieprzeznaczonych dla Użytkownika.
                  </li>
                </ul>
              </li>
              <li>
                Użytkownik akceptuje fakt, że Serwis pobiera:
                <ul>
                  <li>
                    Tokeny z każdej Treści jaką Użytkownik doda do Blockchain Steem za pomocą Serwisu w wysokości 15% od Nagrody dostarczonej
                    po 7 dniach od daty publikacji Treści, wyrażonej w SteemPower,
                  </li>
                  <li>
                    prowizję w wysokości 2% od wartości Tokenów w postaci SteemDollars oraz Steem przekazywanych za pośrednictwem Serwisu na
                    giełdy kryptowalut, których lista jest udostępniona w Serwisie.
                  </li>
                </ul>
              </li>
              <li>
                Użytkownik nie jest uprawniony do żądania fizycznego dostępu do infrastruktury informatycznej, w ramach której funkcjonują
                rozwiązania informatyczne udostępnione w ramach Serwisu, ani wydania w jakiejkolwiek formie kodów źródłowych
                lub wynikowych do tych rozwiązań. Za wyjątkiem prawa do korzystania z funkcjonalności Serwisu zgodnie z Regulaminem,
                Użytkownik nie nabywa żadnych praw do elementów Serwisu, w tym w szczególności praw autorskich do udostępnionych
                rozwiązań informatycznych lub oznaczeń używanych przez Administratora w Serwisie.
              </li>
              <li>
                W przypadku konieczności dokonania zmian i ulepszeń w Serwisie lub przeprowadzenia prac konserwacyjnych lub awarii sprzętu
                Administrator zastrzega sobie prawo do czasowej przerwy w funkcjonowaniu Serwisu. Użytkownicy zostaną powiadomieni
                o wyżej wymienionych przerwach technicznych i czasie ich trwania w drodze komunikatu udostępnionego na stronie
                internetowej Serwisu.
              </li>
              <li>
                Użytkownik akceptuje fakt, że prezentowane w Serwisie wartości kursów kryptowalut mają charakter wyłącznie szacunkowy i w
                dowolnym momencie mogą ulec zmianie. Wartości, o których mowa w zdaniu poprzednim są prezentowane z wykorzystaniem
                separatorów liczbowych stosowanych w krajach anglosaskich.
              </li>
              <li>
                Administrator nie ponosi odpowiedzialności za:
                <ul>
                  <li>
                    nadmiernie przeciążone łącze internetowe Użytkownika, a także inne łącza międzyoperatorskie,
                  </li>
                  <li>
                    zakłócenia w funkcjonowaniu strony Serwisu wywołane niedozwoloną ingerencją Użytkowników lub osób trzecich, w żaden sposób
                    niezależną od Administratora,
                  </li>
                  <li>
                    skutki działań, wynikających z udostępniania danych dostępowych do Konta osobom trzecim,
                  </li>
                  <li>
                    za poprawność danych, o których mowa w ust. 7 powyżej.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <strong>DOSTĘP DO SIECI BLOCKCHAIN STEEM</strong>
            <ul>
              <li>
                Serwis umożliwia dostęp do oprogramowania, które:
                <ul>
                  <li>
                    generuje i zapisuje adresy Konta oraz zaszyfrowane klucze prywatne (zdefiniowane poniżej),
                  </li>
                  <li>
                    ułatwia przekazywanie danych transakcji Steem do sieci Blockchain Steem bez konieczności uzyskiwania dostępu do interfejsu
                    wiersza komend Steem.
                  </li>
                </ul>
              </li>
              <li>
                Podczas tworzenia Konta generowana i przechowywana jest kryptograficzna para kluczy prywatnych i publicznych, które można
                wykorzystać do wysyłania i odbierania Steem, Steem Power i Steem Dollars za pośrednictwem sieci Blockchain Steem.
              </li>
              <li>
                Klucz prywatny jednoznacznie odpowiada nazwie Konta i musi być używany w połączeniu z nazwą Konta, aby autoryzować transfer
                Steem, Steem Power i Steem Dollars z tego Konta.
              </li>
              <li>
                Użytkownik ponosi wyłączną odpowiedzialność za utrzymanie bezpieczeństwa klucza prywatnego oraz wszelkich haseł związanych
                z portfelem. Użytkownik jest zobowiązany przechowywać w bezpiecznym miejscu dane dostępowe do Konta, w tym
                hasło i klucz Prywatny.
              </li>
              <li>
                Administrator nie ponosi odpowiedzialności za niezastosowanie się przez Użytkownika do zasad ochrony powyższych danych, w
                tym za utratę kontroli nad Steem, Steem Power i Steem Dollars związanych z Kontem.
              </li>
              <li>
                Administrator nie odbiera, ani nie przechowuje hasła, ani haseł i adresów niezaszyfrowanych. Administrator nie ma możliwości
                pomocy Użytkownikowi w odzyskiwaniu haseł Konta. Serwis zawiera narzędzia ułatwiające zapamiętywanie lub
                odzyskiwanie hasła, w tym umożliwiając ustawienie wskazówek dotyczących hasła, ale usługi nie mogą generować
                nowego hasła dla Konta. Użytkownik jest wyłącznie odpowiedzialny za zapamiętywanie swojego hasła do Konta.
              </li>
              <li>
                Użytkownik przyjmuje do wiadomości i akceptuje ryzyko, że w przypadku braku bezpiecznej kopii zapasowej danych dostępowych
                do Konta, Steem, Steem Dollars i Steem Power powiązane z takim Kontem mogą stać się niedostępne.
              </li>
              <li>
                Administrator nie jest podmiotem przeprowadzającym transakcje w ramach sieci Blockchain Steem. Przeprowadzenie transakcji
                wymaga potwierdzenia i zarejestrowania w księdze publicznej Steem za pośrednictwem sieci Blockchain Steem,
                która nie jest własnością, nie jest kontrolowana lub obsługiwana przez Administratora.
              </li>
              <li>
                Sieć Blockchain Steem jest obsługiwana przez zdecentralizowaną sieć niezależnych osób trzecich. Administrator nie ma kontroli
                nad siecią Blockchain Steem, dlatego nie gwarantuje, że wszelkie szczegóły transakcji przesłane z wykorzystaniem
                Serwisu zostaną potwierdzone przez sieć Blockchain Steem.
              </li>
              <li>
                Użytkownik akceptuje fakt, że przesyłanie danych transakcji z wykorzystaniem Serwisu pozostaje poza kontrolą Administratora
                i może nie zostać ukończone lub może zostać znacznie opóźnione przez sieć Blockchain Steem.
              </li>
              <li>
                Steem w jakiejkolwiek formie (Steem, Steem Dollars i Steem Power) jest niematerialnym, cyfrowym rodzajem aktywów, których
                istnienie może być potwierdzone wyłącznie w sytuacji odpowiedniego zapisu informacji w sieci Steem. Serwis
                nie przechowuje ani nie wysyła Steem. Jakikolwiek transfer powyższych aktywów może wystąpić wyłącznie w ramach
                zdecentralizowanej księdze w sieci Blockchain Steem, a nie w Serwisie.
              </li>
              <li>
                Administrator oświadcza, że Serwis nie ma wpływu na przeniesienie tytułu lub prawa dotyczącego któregokolwiek z wyżej wskazanych
                aktywów.
              </li>
              <li>
                Użytkownik oświadcza i gwarantuje, że wszelkie informacje dostarczone z wykorzystaniem Serwisu są dokładne i kompletne. Użytkownik
                przyjmuje do wiadomości i zgadza się, że Administrator nie ponosi odpowiedzialności za błędy lub pominięcia
                powstałe w związku z transakcją Steem zainicjowaną z wykorzystaniem Serwisu, na przykład w przypadku błędnego
                wpisania nazwy Konta lub podania nieprawdziwych informacji. Administrator zaleca dokładne sprawdzenie szczegółów
                transakcji przed ich dokonaniem.
              </li>
              <li>
                Gdy dane transakcji zostaną przekazane do sieci Blockchain Steem z wykorzystaniem Serwisu, Administrator nie może w jakikolwiek
                sposób pomóc Użytkownikowi w anulowaniu lub zmodyfikowaniu szczegółów transakcji. Administrator nie ma kontroli
                nad siecią Blockchain Steem i nie ma możliwości anulowania lub modyfikacji dokonanych transakcji.
              </li>
              <li>
                Użytkownik przyjmuje do wiadomości, że jego obowiązkiem jest określenie, w stosownych przypadkach, jakie podatki mają zastosowanie
                do transakcji, dla których zostały przesłane dane transakcji z wykorzystaniem Serwisu oraz zgłaszanie i zapłata
                podatku właściwemu organowi podatkowemu.
              </li>
              <li>
                Użytkownik potwierdza, że Administrator nie jest odpowiedzialny za ustalanie jakichkolwiek obowiązków Użytkownika dotyczących
                zapłaty stosownych podatków, ani za zbieranie, raportowanie, potrącanie lub przenoszenie jakichkolwiek podatków
                wynikających z transakcji dokonywanych w sieci Blockchain Steem.
              </li>
            </ul>
          </li>
          <li>
            <strong>ODPOWIEDZIALNOŚĆ ZA TREŚCI UDOSTĘPNIONE W SERWISIE</strong>
            <ul>
              <li>
                W związku z faktem, że Administrator jedynie udostępnia Użytkownikom określone funkcjonalności Serwisu, nie jest on odpowiedzialny
                za ewentualne naruszenia prawa jakie mogą mieć miejsce w związku z udostępnianiem Treści przez Użytkowników
                w Serwisie.
              </li>
              <li>
                W razie otrzymania urzędowego zawiadomienia lub uzyskania wiarygodnej wiadomości o bezprawnym charakterze Treści lub związanej
                z nimi działalności, Administrator niezwłocznie uniemożliwi dostęp do tych Treści.
              </li>
              <li>
                W przypadku uniemożliwienia dostępu do Treści wskutek uzyskania wiarygodnej wiadomości o ich bezprawnym charakterze, Administrator
                nie odpowiada względem Użytkownika, który dostarczył Treści, za ewentualną szkodę powstałą w wyniku uniemożliwienia
                dostępu do tych Treści.
              </li>
              <li>
                W razie ewentualnych naruszeń dokonanych w związku z udostępnianiem Treści w Serwisie bezpośrednią odpowiedzialność ponosi
                Użytkownik, który tych Treści dostarczył.
              </li>
              <li>
                Użytkownik jest zobowiązany, by Treści, które udostępnia lub moderuje w Serwisie, były w odpowiedni sposób oznaczane i zawierały
                odpowiednie ostrzeżenia. Powyższy obowiązek dotyczy przede wszystkim tego, aby Treści zostały oznaczone w
                odpowiedni sposób i zawierały odpowiednie ostrzeżenia, pomimo tego, że nie powinny być oceniane jako bezprawne,
                ale nie powinny być dostępne dla niektórych kategorii osób, w szczególności mając na myśli osoby niepełnoletnie
                i szczególną troskę o ich niezakłócony rozwój.
              </li>
              <li>
                Umieszczanie oznaczeń i ostrzeżeń dotyczących Treści, o których mowa w ust. 5 powyżej, jest wyłącznym obowiązkiem Użytkownika,
                który tych Treści dostarcza lub który takie Treści moderuje.
              </li>
              <li>
                Działania Użytkowników w zakresie umieszczania oznaczeń i ostrzeżeń dotyczących Treści oraz ich moderowania nie są dokonywane
                na zlecenie, ani pod kontrolą Administratora. Administrator nie ponosi odpowiedzialności za brak umieszczenia
                odpowiednich oznaczeń i ostrzeżeń oraz za moderację Treści dokonywaną przez Użytkowników.
              </li>
            </ul>
          </li>
          <li>
            <strong>BLOKADA DOSTĘPU DO SERWISU</strong>
            <ul>
              <li>
                Administrator może zablokować Użytkownikowi dostęp do Serwisu lub ograniczyć dostęp do funkcjonalności Konta w przypadku:
                <ul>
                  <li>
                    stwierdzenia przez Administratora, że działania Użytkownika stanowią lub grożą naruszeniem przepisów powszechnie obowiązującego
                    prawa na terytorium Rzeczypospolitej Polskiej lub praw innych osób, a w szczególności stanowią lub grożą
                    naruszeniem majątkowych lub osobistych praw autorskich, praw własności intelektualnej, dóbr osobistych
                    Administratora lub innych osób,
                  </li>
                  <li>
                    stwierdzenia przez Administratora, że działania Użytkownika stanowią naruszenie Regulaminu,
                  </li>
                  <li>
                    stwierdzenia przez Administratora, że Użytkownik prowadzi działania naruszające lub zagrażające bezpieczeństwu Serwisu.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <strong>DANE UŻYTKOWNIKÓW I POLITYKA COOKIES</strong>
            <ul>
              <li>
                W związku z faktem, że funkcjonowanie Serwisu nie jest działalnością podejmowaną w związku z jakąkolwiek działalnością zarobkową,
                zawodową lub dla realizacji celów statutowych Administratora, do działań Administratora w zakresie przetwarzania
                danych osobowych Użytkowników nie ma zastosowania ustawa z dnia z dnia 29 sierpnia 1997 r. o ochronie danych
                osobowych (t. jedn. Dz.U. z 2016 r. poz. 922 ze zm.).
              </li>
              <li>
                Pomimo braku obowiązku stosowania się przez Administratora do przepisów ustawy, o której mowa w ust. 1 powyżej, Administrator
                dołoży wszelkich starań, aby dane Użytkowników, które są danymi osobowymi w rozumieniu wyżej wskazanej ustawy,
                były odpowiednio chronione i zabezpieczone.
              </li>
              <li>
                Użytkownik ma prawo dostępu do treści swoich danych i prawo poprawiania danych. Podanie danych osobowych przez Użytkownika
                jest dobrowolne.
              </li>
              <li>
                Użytkownik ponosi odpowiedzialność za podanie nieprawdziwych danych osobowych.
              </li>
              <li>
                Użytkownik ma obowiązek aktualizować podane dane osobowe niezwłocznie po każdej zmianie tych danych osobowych.
              </li>
              <li>
                Celem ulepszenia funkcjonalności udostępnianych w ramach Serwisu, Administrator zbiera i analizuje, za pośrednictwem plików
                cookies i innych podobnych technologii, dane w jaki sposób Użytkownicy korzystają z Serwisu oraz wykorzystuje
                te dane w celu badania zachowań Użytkowników i dostosowywania funkcjonalności Serwisu do oczekiwań Użytkowników.
              </li>
            </ul>
          </li>
          <li>
            <strong>POSTANOWIENIA KOŃCOWE</strong>
            <ul>
              <li>
                Regulamin wchodzi w życie z dniem opublikowania na stronie Serwisu.
              </li>
              <li>
                Administrator jest uprawniony do dokonania zmiany postanowień Regulaminu bez potrzeby uzyskania zgody Użytkownika.
              </li>
              <li>
                Wszelkie zmiany Regulaminu obowiązują od daty opublikowania ich na stronie Serwisu.
              </li>
              <li>
                Kontakt z Administratorem jest możliwy za pośrednictwem funkcjonalności oraz adresów elektronicznych udostępnionych w Serwisie.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
