.sidebar {
  @include border-radius(3px);
  background-color: $sidebarBackground;
  border: 1px solid $sidebarBorder;
  margin-bottom: 15px;
  margin-top: 25px;
  padding: 15px;
  &-title {
    color: #222;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &.user-profil {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
  }
  &-content {
    &-practice {
      ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
          position: relative;
          padding-left: 15px;
          list-style: none;
          margin-bottom: 15px;

          font-size: 1.3rem;
          font-weight: 400;
          color: $text54;

          &:first-child {
            color: $text;
            padding-left: 0;
            &::before {
              display: none;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            position: absolute;
            content: "\2022";
            color: lighten($green, .5);
            display: block;
            left: 0;
            top: 0;
            font-size: 2.2rem;
          }
        }
      }
    }
    &-exchange-cantor {
      ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
          list-style: none;
          width: 100%;
          font-weight: 400;
          font-size: 1.4rem;
          padding-left: 0;
          padding-right: 15px;
          padding-top: 6px;
          color: $text54;
          margin-bottom: 5px;
          &:nth-child(3),
          &:nth-child(7) {
            margin-bottom: 10px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          .name {
            width: 75px;
            margin-right: 15px;
            display: inline-block;
            font-weight: 500;
            color: $purple;
            i {
              font-size: 1.2rem;
              margin-left: 6px;
              margin-right: 6px;
            }
          }
        }
      }
      .information {
        display: inline-block;
        margin-top: 15px;
        font-size: 1.3rem;
        font-weight: 400;
        color: $text54;
      }
    }
    &-popular-tags,
    &-users-lists {
      input {
        height: 35px;
        font-size: 1.4rem;
        padding: 4px 8px;
        border-color: $borderInput;
        &:focus {
          border-color: $borderInput;
          box-shadow: none;
        }
      }
      ul {
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 0;
        li {
          list-style: none;
          width: 100%;
          font-weight: 400;
          font-size: 1.4rem;
          padding-left: 0;
          padding-right: 0;
          padding-top: 6px;
          color: $text54;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
          .name,
          .username {
            width: 130px;
            margin-right: 15px;
            display: inline-block;
            font-weight: 500;
            color: $purple;
            a {
              color: $purple;
              text-decoration: none;
              &:hover {
                @extend .trans;
                cursor: pointer;
                color: lighten($purple, 15%);
                text-decoration: none;
              }
            }
            .avatar {
              position: absolute;
              background-color: $sidebarBackground;
              background-position: center center;
              background-size: cover;
              border-radius: 50%;
              margin-right: 10px;
              height: 25px;
              width: 25px;
              float: left;
              top: -5px;
            }
          }
          .username {
            position: relative;
            margin-bottom: 5px;
            width: 100%;
            &:last-child {
              margin-bottom: 0;
            }
            .user-username {
              padding-left: 35px;
            }
          }
          .reputation {
            font-weight: 300;
            font-size: 1.2rem;
          }
          .count {
            float: right;
            font-size: 1.2rem;
            i {
              font-size: 1.2rem;
              margin-left: 6px;
              margin-right: 6px;
            }
          }
        }
      }
    }
    &-user-profil {
      background-color: transparent;
      border-color: transparent;
      ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
          list-style: none;
          width: 100%;
          display: inline-block;
          font-weight: 400;
          font-size: 1.4rem;
          padding-left: 0;
          padding-right: 0;
          color: $purple;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: $purple;
            text-decoration: none;
            &:hover {
              @extend .trans;
              color: $purple;
              text-decoration: none;
              cursor: pointer;
            }
          }
          i {
            font-size: 1.6rem;
            width: 25px;
            display: inline-block;
          }
          &.name {
            @extend %word-break;
            h1 {
              font-size: 2.2rem;
              line-height: 2.2rem;
              ;
              font-weight: 500;
              color: $purple;
            }
          }
          &.username {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 25px;
            color: $green;
          }
          &.about {
            @extend %word-break;
            font-size: 1.4rem;
            line-height: 2.0rem;
            margin-bottom: 25px;
          }
          &.location,
          &.website,
          &.created,
          &.voting_power,
          &.ranking {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .mat-form-field {
    width: 100%;
  }
}
